body{
    margin-left: 5%;
    margin-right: 5%;
}
.container-fluids{
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;  
    height: 20%;
    opacity: .5;  
}
.title-bg{
    background-color: black;
}
.varieties{
    font-size: 1.5em;
}
.collage{
    width: 20%;
    margin-top: 10%;
}
.slice img{
    margin-top: 10%;
    margin-bottom: 20%;
    animation: dance 1s infinite alternate;
}
.slice img, .crispy img, .extracheese img, .chilly img{
    width: 18%;
    animation: bounce  5s infinite alternate;
}
.cut img{
    animation: dance 6s infinite alternate;
}
@keyframes dance{
    from{
        transform: translateX(-130px);
    }
    to{
        transform: translateX(150px);
    }
}
@keyframes bounce{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-105px);
    }
}
.pizza img{
    animation: swim 2s infinite alternate;
}
@keyframes swim{
    from{
        transform: translate3d(50px, 20px, -10px);
    }
    to{
        transform: translate3d(0px, 0px, 20px)
    }
}
.crispy img{
    width: 25%;
}
.extracheese img{
    margin-left: 60%;
}
.title img{
    width: 30%;    
}
.about{
    margin-top: 26%;
    width: 100%;
}

.about-row{
    width: 100%;
}
.about img{
    width: 100%;
}
.about-text{
    margin-top: 2%;
}
.mid-button a, .order-now a, .checkout-btn a, .timer-img a{
    color: white;
    text-decoration: none;
}
#timer{
    text-align: center;
    font-style: italic;
}
.order-now{
    font-size: 1.5em;
}

.mid-button a:hover, .order-now a:hover, .checkout-btn a:hover, .timer-img a:hover{
     color:white; 
     text-decoration:none; 
     cursor:pointer;  
}

    .chilly img{
        width: 100%;
        margin-top: 0%;
    }
    .crispy img{
        width: 18%;
    }
    .extracheese img{
        margin-left: 30%;
        width: 11%;
    }
    .title{
        width: 100%;
        font-size: 1.7em;
        background-color: black;
        padding-top: 8px;
        padding-bottom: 8px; 
        
    .title img{
        width: 70%;
        
    }
    .cut img{
        width: 7%;
        margin-top: 0%;
    }
    .about{
        margin-top: 11%;
    }
    .about img{
        width: 100%;
    }
    .about-text{
        margin-top: 10%;
    }
    @media screen and (min-width: 300px) and (max-width: 400px){
        .varieties{
            font-size: 1.5em;
        }
    }
    @media screen and (min-width: 500px){
        .container-fluids{
            background-image: url('../images/bg.jpg');
            background-size: cover;
            background-repeat: no-repeat;  
            height: 2%;
            opacity: .5;  
        }
